Saturday at  12:00 PM
WICHITA ST 144.5 (-17 powerspread), 4.0pt edge
MISSOURI ST +13


Saturday at  6:00 PM
[32m$$$$************Big Money************$$$$[0m
LSU 151.5
GEORGIA -12 (-19 powerspread), 7.0pt edge


Saturday at  6:00 PM
KANSAS ST 141.5
OKLAHOMA +1 (-4 powerspread), 3.0pt edge


Saturday at  6:00 PM
NEVADA 149 (-12 powerspread), 5.0pt edge
UNLV +7


Saturday at  7:00 PM
DELAWARE 137
ELON -11 (-15 powerspread), 4.0pt edge


Saturday at  8:00 PM
[32m$$$$************Big Money************$$$$[0m
SAN DIEGO ST 131
COLORADO ST -1.5 (-8 powerspread), 6.5pt edge


Saturday at  10:00 PM
[32m$$$$************Big Money************$$$$[0m
BYU 161.5
GONZAGA -20.5 (-27 powerspread), 6.5pt edge


Saturday at  10:00 PM
SANTA CLARA 119
ST MARYS-CA -15.5 (-20 powerspread), 4.5pt edge


Saturday at  10:30 PM
CS-NORTHRIDGE 149
UC-IRVINE -9.5 (-15 powerspread), 5.5pt edge


Saturday at  5:00 PM
VMI 145
UNC-GREENSBORO -16 (-20 powerspread), 4.0pt edge


Saturday at  5:15 PM
AUSTIN PEAY 160
SE MISSOURI ST -7.5 (-12 powerspread), 4.5pt edge


Saturday at  12:00 PM
NAVY 133.5
BUCKNELL -11 (-15 powerspread), 4.0pt edge


